.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.listItem {
  overflow: hidden;
}

.itemsList {
  position: relative;
  top: 70px;
  overflow: scroll;
  height: calc(100vh - 120px);
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
